* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #2c3e5e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#contener {
  color: antiquewhite;
}
.digit {
  font-size: 150px;
  font-weight: bold;
}
.txt {
  font-size: 30px;
  font-weight: bold;
}
#button {
  text-align: center;
  margin-top: 50px;
}
.btn {
  padding: 6px 25px;
  margin: 0px 20px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  border: 0px;
}
#st {
  background-color: orange;
}
#s {
  background-color: beige;
}
#re {
  background-color: green;
}
